<div class="page-header">
  <h1>Manage Users</h1>
</div>
<br/>

<div class="row">
  <div *ngIf="isError" class="alert alert-danger">{{errorMessage}}</div>


  <span>
    <button type="button" style="font-size:1em;" class="btn btn-success btn-circle" [ngClass]="{'active ':!addEnabled,'disabled':addEnabled}"
      (click)="toggleAdd()">
      <i class='fa fa-plus'></i>
    </button>
  </span>
  <span>

    <span class="form-inline">
      <span class="input-group add-on">
        <input class="form-control" placeholder="Search" [(ngModel)]="model.searchText" name="srch-term" id="srch-term" type="text">
        <div class="input-group-btn">
          <button class="btn btn-success" type="submit" (click)="searchUser(model.searchText)">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </span>
    </span>

    <span class="form-inline">
      <span class="input-group add-on">
        <select class="form-control" name="roleId" id="roleId" [(ngModel)]="model.roleId" (ngModelChange)="updateSelectValue($event)">
          <option *ngFor="let role of roles" [value]="role.roleId">{{role.roleName}}</option>
        </select>
      </span>
    </span>


    <div *ngIf="addEnabled">
      <div class="page-header">
        <h3>Add Admin</h3>
      </div>
      <div *ngIf="(!myForm.pristine && !myForm.valid)" class="row alert alert-danger">
        <div *ngIf="(userName.touched || userName.dirty )&& !userName.valid">
          <div *ngIf="userName.errors.required">User Name is required</div>
          <div *ngIf="userName.errors.minlength">Minmum is {{userName.errors.minlength.requiredLength}}</div>
          <div *ngIf="userName.errors.pattern">Only Characters</div>
        </div>
      </div>
      <form ngForm #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
        <div class="form-group">
          <label class="control-label" for="userName">User Name</label>
          <input type="text" id="userName" ngModel name="userName" #userName="ngModel" class="form-control" minlength="4" pattern="[a-zA-Z]*"
            required/>
        </div>

        <div class="form-group">
          <label for="userPassword" class="control-label">User Password</label>
          <input type="password" ngModel name="userPassword" id="userPassword" #userPassword="ngModel" class="form-control">
        </div>
        <div class="text-center">
          <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
    <div>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let track of results | async">
          <img src="{{track.thumbnail}}">
          <a target="_blank" href="{{track.link}}">{{ track.track }}
          </a>
        </li>
      </ul>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-md-2 text-center">User ID</th>
            <th class="col-md-3 text-center">User Name</th>
            <th class="col-md-4 text-center">User Role</th>
            <th class="col-md-* text-center">Action</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let in = index" class="text-center">
            <td>{{user.userId}}</td>
            <td>{{user.username}}</td>
            <td>{{user.roleName}}</td>
            <td>
              <input class="form-control" placeholder="Disable Reason(Optional)" [(ngModel)]="model.disableReason" type="text">
              <button type="button" class="btn btn-warning fa fa-edit" (click)="editUser(user.userId,myModal)"> </button>
              <button type="button" class="btn btn-danger fa fa-minus" (click)="deleteUser(user)"></button>
              <button type="button" class="btn btn-success fa fa-check" [disabled]="!user.disabled" (click)="enableUser(user.userId)"></button>
              <button type="button" class="btn btn-danger fa fa-close" [disabled]="user.disabled" (click)="disableUser(user.userId, model.disableReason)"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br/>
    <br/>

    <div class="row">
      <modal #myModal>
        <modal-header>
          <h1>Edit User</h1>
        </modal-header>

        <modal-content class="row">
          <form ngForm #MyEditForm="ngForm" (ngSubmit)="onEdit()">

            <div class="form-group">
              <label class="control-label" for="UserId">UserId</label>
              <input type="text" id="UserId" [(ngModel)]="user.userId" name="editUserId" disabled class="form-control" />

            </div>
            <div class="form-group">
              <label for="userEmail" class="control-label">User Password</label>
              <input type="password" id="userPassword" [(ngModel)]="user.password" name="editUserPassword" #editUserPassword="ngModel"
                class="form-control">
            </div>

          </form>
        </modal-content>
        <modal-footer>
          <button class="btn btn-primary" [disabled]="MyEditForm.invalid" (click)="onEdit(MyEditForm);myModal.close()">Save</button>
          <button class="btn btn-primary" (click)="myModal.close()">close</button>
        </modal-footer>
      </modal>
    </div>